# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Notebooks
.ipynb_checkpoints/

# IDE & OS
.idea/
.vscode/
.DS_Store

# Build
dist/
build/

# Data
data/raw/

# Playwright & Screenshots
.playwright-mcp/
*.png
