# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Data & artifacts
data/raw/
data/processed/
*.csv
*.parquet

# Notebooks
.ipynb_checkpoints/

# IDE & OS
.idea/
.vscode/
.DS_Store

# Build
dist/
build/
